.loginOuter {
  width: 500px;
  height: 350px;

  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
  text-align: center;
  background-color: white;
  padding: 10px 0px;
  border: 2px solid black;
  border-radius: 25px;
}
